{#
  crud_template.j2

  Generates basic CRUD functions for each entity.
  Uses:
    - entity.names.snake / entity.names.pascal
    - entity.fields[0] as primary key field for function parameters
#}

{% for entity in entities %}
from sqlalchemy.orm import Session
from brickend_core.integrations.back.fastapi.models import {{ entity.names.pascal }}
from brickend_core.integrations.back.fastapi.schemas import {{ entity.names.pascal }}Create, {{ entity.names.pascal }}Read

def get_{{ entity.names.snake }}(db: Session, id: {{ entity.fields[0].sql_type }}):
    return db.query({{ entity.names.pascal }}).filter({{ entity.names.pascal }}.{{ entity.fields[0].names.snake }} == id).first()

def create_{{ entity.names.snake }}(db: Session, obj_in: {{ entity.names.pascal }}Create):
    db_obj = {{ entity.names.pascal }}(**obj_in.dict())
    db.add(db_obj)
    db.commit()
    db.refresh(db_obj)
    return db_obj

def get_{{ entity.names.snake }}_list(db: Session, skip: int = 0, limit: int = 100):
    return db.query({{ entity.names.pascal }}).offset(skip).limit(limit).all()

def delete_{{ entity.names.snake }}(db: Session, id: {{ entity.fields[0].sql_type }}):
    obj = db.query({{ entity.names.pascal }}).filter({{ entity.names.pascal }}.{{ entity.fields[0].names.snake }} == id).first()
    if obj:
        db.delete(obj)
        db.commit()
    return obj

def update_{{ entity.names.snake }}(db: Session, id: {{ entity.fields[0].sql_type }}, obj_in: {{ entity.names.pascal }}Create):
    db_obj = db.query({{ entity.names.pascal }}).filter({{ entity.names.pascal }}.{{ entity.fields[0].names.snake }} == id).first()
    if not db_obj:
        return None
    for field, value in obj_in.dict().items():
        setattr(db_obj, field, value)
    db.add(db_obj)
    db.commit()
    db.refresh(db_obj)
    return db_obj

{% endfor %}
