{#
  models_template.j2

  Generates SQLAlchemy model classes for each entity.
#}

{# Collect all SQL types from all entities and fields #}
{% set all_sql_types = [] %}
{% for entity in entities %}
    {% for field in entity.fields %}
        {% set _ = all_sql_types.append(field.sql_type) %}
    {% endfor %}
{% endfor %}

from sqlalchemy import Column, {{ all_sql_types | unique | join(", ") }}
from sqlalchemy.orm import declarative_base

Base = declarative_base()

{% for entity in entities %}
class {{ entity.names.pascal }}(Base):
    __tablename__ = "{{ entity.names.snake }}"

    {% for field in entity.fields -%}
    {{ field.names.snake }} = Column(
        {{ field.sql_type }}
        {% if field.is_primary_key %}, primary_key=True{% endif %}
        {% if not field.is_nullable %}, nullable=False{% endif %}
        {% if field.is_unique %}, unique=True{% endif %}
    )
    {% endfor %}

{% endfor %}
